/* глобольные свойства */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  gap: 30px;
  width: 100%;
}

/* основной видео-контент */

.result {
  grid-area: result;
  align-items: end;
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* настройки поиска и фильтрации контента */

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-width: 1px 0 1px 0;
  border-color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  letter-spacing: -0.1px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:has(:focus-visible) {
  border: 0;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after,
input[type="checkbox"]:active + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox:has(:focus-visible) {
  outline: 1px;
}

.search-form__label:hover :not(.search-form__textfield) {
  text-decoration: underline;
  cursor: pointer;
}

/* кнопки */

.button {
  padding: 6px 0;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  margin-top: 20px;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:not(:focus-visible) {
  outline: 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.search-form__submit-button {
  align-self: center;
  width: 194px;
}

.more-button {
  margin-top: 0;
  margin-bottom: 2px;
  width: 100%;
}

/* список карточек с видео-контентом */

.content__details {
  grid-area: details;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-title {
  width: 196px;
  padding-top: 6px;
  margin-bottom: 6px;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
